body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    background-color: rgb(225, 54, 54);
    padding: 15px;
}

#button {
    margin-top: 15px;
    width: 8em;
    height: 2em;
}